
@font-face {
    src: url(../fonts/Arbutus.ttf);
	font-family: Arbutus;
	font-weight: normal;
}

@font-face {
	src: url(../fonts/Karla-Regular.ttf);
	font-family: Karla;
	font-weight: normal;
}

@font-face {
	src: url(../fonts/Karla-Bold.ttf);
	font-family: Karla;
	font-weight: bold;
}



/*--------------------------------------------------------------*/
/*THE FUN STARTS HERE*/

html{
  height:100%;
  background: linear-gradient(90deg,white,white,white,#f4eff7);
  overflow-x: hidden;
}

body {
	position: relative;
	font-family: Karla, Arial, sans-serif;
	color: #323232;
	line-height: 1.7em;
	font-size: 13pt;
	margin: 0;
	width:100%;
	height: 100%;
	min-height: 100%;
	cursor:default;	
/*	cursor: crosshair;
*/
}

::selection {
	background: black;
	color:white;
}

/*--------------------------------------------------------------*/
/*DEFINE SECTIONS & CENTERING*/

section{
	position: relative;
	overflow: hidden;
	width: 100%;
}


.responsive{
	margin: 0 auto;
	width:90%;
	max-width: 840px;

}

/*--------------------------------------------------------------*/
/*ABOUT*/

#about{
  padding-top:120px;
  padding-bottom: 60px;

}

.aboutlinks {
    border-bottom: 1px dotted #eb7c78;
    font-weight: 700;
}



/*--------------------------------------------------------------*/
/*NAV*/

li {
  display: inline;
    width: auto;
}

nav {
	position: absolute;
	z-index: 10;
	margin:0;
    padding-top:30px;
    background-color: transparent;
    width:100%;
    height:auto;
    display:block;
    max-width: 840px;
}

nav a.nav {
    font-size:11.5pt;
    letter-spacing: 0.75px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:-20px;
}

nav a.aboutlinks {
    border-bottom: 1px dotted #4b9681;
    font-weight: 700;
    color: #4b9681;
}

nav a.aboutlinks:hover {
   color:#21FA87;
}
/*--------------------------------------------------------------*/
/*HYPERLINKS */

a{
	text-decoration: none;
	color: inherit;
    color:#4b9681;

}

a:hover {
    color:#21FA87;

}


/*--------------------------------------------------------------*/
/*HEADER STYLES*/

h2 {
	font-size:16pt;
	font-family: Arbutus, Georgia, serif;
    letter-spacing: 0.25px;
	font-weight: 300;
    
    line-height: 1.75em;

    max-width: 600px;
    margin-top:0px;
}

h3{
	font-size: 22pt;
	font-family: Arbutus, Georgia, serif;
    letter-spacing: 0.25px;
    font-weight: 300;
  
    line-height: 1.5em;
  
    margin-bottom: 0px;
	margin-top: 90px;
}





/*--------------------------------------------------------------*/
/*SECTION: CONTENT LIGHTBOX*/


#content{
	padding: 40px 0 5px 0;
  /*just enough padding so the wavy text doesn't get cut */
}

#contentdivider {
  width:100%;
  background: transparent;
  padding-top: 20px; /*this is additive with the div content below, which you can't delete
  because it defines the <br> height */
  border-bottom: 1px dotted #323232;

}


#content div {
  margin-top: 20px;
}


#content img{
	height:auto;
	width: 100%;
	display: block;
	margin: 16px 0 16px 0;
}

#content a {
    border-bottom: 1px dotted #4b9681;
}

/*--------------------------------------------------------------*/
/*SECTION: WORK THUMBNAILS*/


#work {
	padding: 0px 0px 40px 0px;
}

#work-stuff a{
	position: relative;
	width: 100%;
	margin: 16px 0;
	display: block;
	height:320px;
}

#work-stuff a .image-tile{
	height: 280px;
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	margin-top:40px;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}


#work-stuff a:hover .image-tile{
	opacity: 1;
  	/* -webkit-filter: hue-rotate(360deg);
  	filter: hue-rotate(360deg); */
  	-webkit-transition: filter 10000ms;
  	transition: filter 10000ms;
}


#work-stuff a figcaption{
	font-weight: bold;
	margin-top: 8px;
	line-height: 1.5rem;
	color:rgba(0,0,0,.8);
 }

#work-stuff a:hover figcaption{
	color:rgba(0,0,0,1);
}

#work-stuff .tags {
	padding:0;
	margin:0;

	font-size:9pt;
	color:gray;

	font-weight: normal;
}




/*--------------------------------------------------------------*/
/*FOOTER*/

.credit {
	padding:15px 0;
	font-size:9pt;
	color:gray;
}


/*--------------------------------------------------------------*/

/*RESPONSIVE BIT -- bigger screen*/

/*--------------------------------------------------------------*/

@media screen and (min-width: 540px){


body {
    font-size: 12pt;
  }


nav a{
	padding-left:40px;
	line-height: 1.2em;
    color: #4b9681;

}

.responsive{
    margin-left:40px;
    }

/* CONTENT + WORK RE-SIZING*/

#content{
	max-width:620px;
	}

#work-stuff a{
		float: left;
		width: 50%;
		height:280px;

	}

#work-stuff a *{
		margin-right: 6%;
	}

#work-stuff a .image-tile{
		height: 220px;
		margin-top: 10px;
	}

#work-stuff .tags {
		margin: 0 6% 0 0;
	}



/*--------------------------------------------------------------*/

/*RESPONSIVE BIT -- even bigger screen*/

/*--------------------------------------------------------------*/

@media screen and (min-width: 800px){

#work-stuff a{
		width: 33.333%;
}
	}


