* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}

.introduction {font-family: 'Libre Baskerville', serif;font-size: 20px; line-height: 30px; }

h1 {
    font-family: 'Libre Baskerville', serif; font-size: 50px;line-height: 100px;
    
    margin:0;
    text-transform:uppercase;
    text-align: center;
  padding: 2rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
   
}

.container {
    font-family: 'Libre Baskerville', serif; font-size: 20px;line-height: 100px;
    text-align: center;
    max-width: 800px;
    margin: auto;
  overflow: auto;
    padding: 0;
  
     /*scroll-snap-type: y mandatory;
    overflow-y:scroll;*/
}

img { max-width:70%; margin:auto;}

table#feminine {
    
    min-width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #bfbfbf;
    
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Libre Baskerville', serif; font-size: 15px;line-height: 30px;
}

table#feminine th{
    border-bottom: 1px solid #bfbfbf;
}

table#HisHer{
        min-width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid #bfbfbf;
 
    overflow: hidden;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Libre Baskerville', serif; font-size: 15px;line-height: 30px;
}

table#HisHer tr, table#HisHer td, table#HisHer th  {
    border: 2px solid #bfbfbf; 
}


.card{
    display:grid;
   
   
    /*margin-bottom: 2rem;
    scroll-snap-align:start;*/
}

.text{
    font-family: Times new roman; font-size: 20px;line-height: 30px;
    text-align: center;
    max-width: 800px;
    margin: auto;
  overflow: auto;
    padding: 0;
}

.iterations {
    font-family: 'Libre Baskerville', serif; font-size: 20px;line-height: 50px;
}


footer {
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #f9f9f9;
    font-family: 'Libre Baskerville', serif; font-size: 15px;
    text-align: center
}
